@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Rajdhani:wght@400;500;600;700&display=swap');
/* variables globales de color */
:root {
    --color-fondo: #120E1A;
    --color-superficie: #1E1730;
    --color-primario: #D6236A;
    --color-acento: #00D2FF;
    --color-texto: #F3EFFA;
    --color-error: #FF7A7A;
}

/* configuracion del cuerpo de la pagina */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: var(--color-fondo);
    color: var(--color-texto);
}

/*Nuestro botón principal debe ser color magneta con texto claro*/
.btn-primary {
    background-color: #D6236A;
    border-color: #D6236A;
    color: #F3EFFA;
    font-weight: 700;
}

/* Al pasar el maus por encima del botón, el botón se pone color cian*/
.btn-primary:hover {
    background-color: #00D2FF;
    border-color: #00D2FF;
    color: #120E1A;
}

                                        /* CONTENIDO UBICADO EN EL HEADER */


/* Contenedor principal de la cabecera */
.header-principal {
    background-color: var(--color-superficie);
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 15px 30px;
}

/* Enlace y alineacion del logo */
.logo a {
    display: flex;
    align-items: center; 
    gap: 10px; 
    color: var(--color-texto);
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}

/* efecto hover para el logo (efecto al pasar el mouse por encima) */
.logo a:hover {
    color: var(--color-primario);
}

/* tamaño de la imagen del logo */
.logo img {
    max-height: 50px; 
    display: block;
}

/* contenedor de la barra de busqueda */
.busqueda {
    flex-grow: 1; 
    display: flex;
    justify-content: center;
    margin: 0 40px; 
}

/* formulario de la barra de busqueda */
.busqueda form {
    display: flex;
    width: 100%;
    max-width: 500px;
}

/* campo de texto de la busqueda */
.busqueda input {
    flex-grow: 1;
    padding: 10px 15px;
    border: 1px solid var(--color-texto);
    border-radius: 4px 0 0 4px; 
    background-color: var(--color-fondo);
    color: var(--color-texto);
}

/* boton de envio de la busqueda */
.busqueda button {
    padding: 10px 20px;
    background-color: var(--color-primario);
    color: #FFFFFF; 
    border: none;
    border-radius: 0 4px 4px 0;
    font-weight: bold;
    cursor: pointer;
}

/* lista de navegacion del lado derecho */
.nav-derecha ul {
    list-style: none;
    display: flex;
    gap: 25px; 
    margin: 0;
    padding: 0;
}

/* enlaces de la navegación del lado derecho (Carrito y Login) */
.nav-derecha a {
    color: var(--color-texto);
    text-decoration: none; 
    font-weight: bold;
    font-size: 20px;
}

/* efecto hover para los enlaces de la derecha */
.nav-derecha a:hover {
    color: var(--color-primario);
}

/*---------------------------------------------------------------------------------------------------------------------------------------------*/
                                        /* BARRA DE CATEGORIAS */

.barra-categorias {
    background-color: var(--color-superficie);
    width: 100%;
    /* linea que separar a la barra de categorias  */
    border-top: 2px solid var(--color-primario); 
    /* espacio que divide la linea separadora y el borde debajo de las letras */
    padding: 20px 0; 
}


.barra-categorias ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; 
    gap: 40px; /* separacion entre cada categoria */
}


.barra-categorias a {
    color: var(--color-texto);
    text-decoration: none;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 1px; /* separa un poco las letras */
}

.barra-categorias a:hover {
    color: var(--color-primario);
}
/*---------------------------------------------------------------------------------------------------------------------------------------------*/

                                        /*  CARRUSEL DE IMAGENES    */

/* contenedor general del carrusel */
.custom-carrusel {
    max-width: 1000px;
    margin: 40px auto;
    border: 2px solid var(--color-primario);
    border-radius: 8px;
    overflow: hidden;
    background-color: #000;
}

/* altura y proporcion del video e imagenes */
.carrusel-media {
    height: 480px;
    object-fit: cover;
}

/* caja de texto inferior*/
.custom-carrusel .carousel-caption {
    background-color: rgba(30, 23, 48, 0.85);
    border-bottom: 3px solid var(--color-acento);
    border-radius: 8px;
    padding: 12px 20px;
    bottom: 25px;
}

/* titulo dentro de la caja de texto */
.custom-carrusel .carousel-caption h5 {
    color: var(--color-acento);
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 5px;
}

/* parrafo dentro de la caja de texto */
.custom-carrusel .carousel-caption p {
    color: var(--color-texto);
    font-size: 14px;
    margin-bottom: 0;
}

/* indicadores inferiores inactivos */
.custom-carrusel .carousel-indicators [data-bs-target] {
    background-color: var(--color-primario);
    height: 4px;
}

/* indicador inferior activo */
.custom-carrusel .carousel-indicators .active {
    background-color: var(--color-acento);
}


/* sin el siguiente ajuste: el area de interaccion de los botones laterales no permitiran 
interactuar con la interfaz del video por que estaran sobreponiendose*/

/* reduce el area donde hacer clic en las flechas laterales*/
.custom-carrusel .carousel-control-prev,
.custom-carrusel .carousel-control-next {
    width: 60px;
    z-index: 5;
}

/*ESTO ESTÁ EN VEREMOS, NO SÉ SI ME CONVENCE*/
.ofertas-destacadas h2 {
    font-family: 'Press Start 2P' ;
    color: var(--color-texto);
    font-size: 24px;
    margin-bottom: 35px;

    position: relative;
    padding-bottom: 15px;

    text-shadow:
        0 0 5px rgba(214, 35, 106, 0.8),
        0 0 12px rgba(214, 35, 106, 0.5);
}

.etiqueta-oferta {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: var(--color-primario);
    color: var(--color-texto);
    padding: 6px 10px;
    border-radius: 5px;
    font-weight: 700;
    z-index: 2;
    box-shadow: 0 0 10px rgba(214, 35, 106, 0.5);
}

.precio-anterior {
    color: var(--color-texto);
    text-decoration: line-through;
    margin-bottom: 0;
    font-size: 16px;
}

.precio-oferta {
    color: var(--color-primario);
    font-size: 24px;
    font-weight: 700;
    margin-top: 2px;
    margin-bottom: 15px;
    text-shadow: 0 0 8px rgba(214, 35, 106, 0.4);
}

.ofertas-destacadas .card {
    position: relative;
    background: linear-gradient(
        145deg,
        #1E1730,
        #171124
    );
    color: var(--color-texto);
    border: 1px solid var(--color-primario);
    border-radius: 10px;
    overflow: hidden;

    box-shadow:
        0 0 8px rgba(214, 35, 106, 0.15);

    transition: 0.3s ease;
}

/*Al pasar por encima de cuadros, cambia de color rgb*/
.ofertas-destacadas .card:hover {
    transform: translateY(-8px);
    border-color: var(--color-acento);

    box-shadow:
        0 0 10px rgba(0, 210, 255, 0.4),
        0 0 25px rgba(0, 210, 255, 0.2);
}

/*---------------------------------------------------------------------------------------------------------------------------------------------*/
